<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--蓝牙必须的权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--android6.0以上使用蓝牙需要的权限，否则在Android6.0以上的手机扫描不到蓝牙设备-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <!--相机相关权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="LAUNCHER"
            android:value="${LAUNCHER}" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ScrollingActivity" />
        <activity android:name=".activity.AnimationActivity" />
        <activity android:name=".activity.ListPopAnimationActivity" />
        <activity
            android:name=".activity.LeadPagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ServiceGuardActivity" />
        <activity android:name=".activity.TouchEventTransmitActivity" />
        <activity android:name=".activity.ShaderViewActivity" />
        <activity android:name=".activity.RevealSearchViewActivity" />
        <activity android:name=".activity.WaterActivity" />
        <activity android:name=".activity.old.oneActivity" />
        <activity android:name=".activity.old.LayoutManagerActivity" />
        <activity android:name=".activity.old.CoordinatorLayoutActivity" />
        <activity android:name=".activity.old.ConstraintActivity" />
        <activity android:name=".activity.old.OldLeadPagerActivity" />
        <activity android:name=".activity.old.SettingsActivity" />
        <activity android:name=".activity.old.DataBindingActivity" />
        <activity android:name=".activity.old.OldScrollingActivity" />
        <activity android:name=".activity.SearchViewActivity" />
        <activity
            android:name=".activity.TransitionAnimationActivity"
            android:theme="@style/AppTheme3" />
        <activity android:name=".activity.MapActivity" />
        <activity
            android:name=".activity.Scene.SceneActivity"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activity.Scene.SceneChangeBoundsActivity"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activity.Scene.SceneChangeTransformActivity"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activity.Scene.SceneChangeClipBoundsActivity"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activity.Scene.SceneChangeImageTransformActivity"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activity.Scene.SceneFadeSlideExplodeActivity"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activity.Scene.BeginDelayedActivity"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activity.TransitionActivity2"
            android:theme="@style/AppTheme3" />
        <activity android:name=".activity.LoveBezierActivity" />
        <activity android:name=".activity.DelayedActivity2" />
        <activity
            android:name=".activity.CustomViewFinderScannerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.SplashViewActivity" />
        <activity android:name=".activity.RecycleViewActivity" />
        <activity
            android:name=".activity.DrawLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.PaletteActivity" />
        <activity android:name=".ndk.NDKActivity" />

        <service android:name=".service.LocalService" />
        <service
            android:name=".service.RemoteService"
            android:process=":com.test.tt" />

        <activity android:name=".activity.theme.ThemeActivity" />
        <activity android:name=".activity.theme.Theme1Activity" />
        <activity android:name=".activity.theme.Theme2Activity" />
        <activity android:name=".activity.theme.Theme3Activity" />
        <activity android:name=".activity.IOActivity" />
        <activity android:name=".activity.ReceiverActivity" />
        <activity android:name=".activity.BluetoothActivity" />
        <activity android:name=".activity.Camera2Activity" />
        <activity
            android:name=".activity.startModel.A"
            android:launchMode="standard" />
        <activity
            android:name=".activity.startModel.B"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.startModel.C"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.startModel.D"
            android:launchMode="singleTop" />
        <activity android:name=".okhttp_simple.OkhttpSimpleActivity"/>

        <receiver android:name=".receiver.FirstReceiver">
            <intent-filter android:priority="3">
                <action android:name="com.example.admin.myapplication.ORDER_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SecondReceiver">
            <intent-filter android:priority="2">
                <action android:name="com.example.admin.myapplication.ORDER_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ThirdReceiver">
            <intent-filter android:priority="1">
                <action android:name="com.example.admin.myapplication.ORDER_BROADCAST" />
            </intent-filter>
        </receiver>
        <!--   静态注册     -->
        <receiver android:name=".receiver.Receiver_1">
            <intent-filter>
                <action android:name="ttt" />
            </intent-filter>
        </receiver>
    </application>

</manifest>